@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-auralis-green: #4ADE80;
  --color-auralis-green-light: #E0FBEA;
  --color-auralis-dark: #1F2937;
  --color-auralis-panel: #2D4B39;
  --color-auralis-panel-light: #3A5C47;
  --color-auralis-text-muted: #9CA3AF;
  --color-auralis-red: #EF4444;
  --color-auralis-red-light: #FEE2E2;
  --color-surface-main: #f3f4f6;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-surface-main);
}
